{% extends 'base.html' %}

{% block content %}

<h2 class="text-center">Sourcing, roasting, and serving coffees that we love. It’s that simple.</h2>
<hr/>
<p class="text-center">
	We’ve built our business around our love of great, fair trade, single origin coffee. Year round we bring you the best in-season beans from around the world and roast them right here in Clayton, Delaware.
</p>
<br/>

{% load static %}
<img src="{% static 'sitepages/youngbeancoffee.jpg' %}" class="img-responsive center-block img-circle"/>


{% endblock %}