{% extends 'base.html' %}

{% block content %}

<h2 class="text-center">Coffee</h2>

<table class="table table-bordered table-striped text-center">
	<tr>
		<td>House Coffee</td>
		<td>Espresso</td>
		<td>Cappucino</td>
		<td>Latte</td>
	</tr>
	<hr/>
	<tr>
		<td>Americano</td>
		<td>Caffe Mocha</td>
		<td>Caffe au Lait <br/> (House coffee with steamed milk)</td>
		<td>Red Eye <br/> (House coffee with a shot of espresso</td>
	</tr>
</table>

<h2 class="text-center">Non-Coffee</h2>

<table class="table table-bordered table-striped text-center">
	<tr>
		<td>Tea <br/> (Varied selection)</td>
		<td>Tea au Lait <br/> (Choice of tea with steamed milk)</td>
		<td>Chai Latte</td>
		<td>Hot Chocolate</td>
	</tr>
	<hr/>
	<tr>
		<td>Steamer <br/> (Steamed milk with choice of flavor)</td>
	</tr>
</table>

<h2 class="text-center">Frozen Drinks</h2>
<hr/>

<table class="table table-bordered table-striped text-center">
	<tr>
		<td>Milkshake <br/> (Chocolate, Vanilla, or Strawberry)</td>
		<td>Quake Shake <br/> (Choice of milkshake with a shot of espresso)</td>
		<td>Smoothie <br/> (Strawberry or Peach)</td>
		<td></td>
	</tr>
</table>

<h2 class="text-center">Everything Else</h2>
<hr/>

<table class="table table-bordered table-striped text-center">
	<tr>
		<td>Scone Variety</td>
		<td>Banana Bread</td>
		<td>Apple Cake</td>
		<td>Chicken Salad Sandwich <br/> (With celery and cranberries)</td>
		<td>Hummus <br/> (with spinach, roasted red pepper, and lemon vinaigrette)</td>
	</tr>
</table>

{% endblock %}